<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TBasAttachmentMapper">

    <select id="selectAttachMent" resultType="com.example.EAS.vo.AttachmentsVO">
        select att.FNAME_L2 as title,att.FREMOTEPATH as fileUrl,ass.FBOID,att.FCREATETIME as createTime
        from  T_BAS_BoAttchAsso ass
        left join T_BAS_Attachment att on ass.FATTACHMENTID=att.FID
        where ass.FBOID=#{id}
        order by att.FREMOTEPATH
    </select>
</mapper>
