<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TBasAttachmentMapper">
    <update id="updateAttLink">
    update webattachment set attLink =#{attLink} where easid=#{id} and ORIGINALFILENAME like '%#{attName}%'
    </update>

    <select id="selectAttachMent" resultType="com.example.EAS.vo.AttachmentsVO">
        select att.FNAME_L2 as title,att.FNUMBER as num,att.FSIZE as fileSize,
        att.fsimplename as fileType,att.FREMOTEPATH as webUrl,
        ass.FBOID as easId,att.FCREATETIME as createTime,
        att.FDESCRIPTION_L2 as description
        from  T_BAS_BoAttchAsso ass
        left join T_BAS_Attachment att on ass.FATTACHMENTID=att.FID
        where ass.FBOID=#{id} and att.FNAME_L2 is not null
        order by att.FREMOTEPATH
    </select>
    <select id="selectByNumber"  resultType="com.example.EAS.vo.AttachmentsVO">
        select * from webattachment where FILENUM=#{attachNum}
    </select>
    <select id="selectWEBAttach" resultType="com.example.EAS.vo.AttachmentsVO">
        select * from webattachment where EASID=#{id}
    </select>
</mapper>
