<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TBdCsspgroupMapper">

    <select id="selectDatas" resultType="com.example.EAS.vo.SupplierTypeVO">
        select m.fid as id,m.fname_l2 as title ,m.fnumber as num,m.flevel,m.flongnumber as longNumber
        from T_BD_CSSPGroup m
        left join T_BD_CSSPGroupStandard e on e.fid=m.FCSSPGroupStandardID
        <where>
            m.FControlUnitID=#{orgId,jdbcType=VARCHAR} and
            m.FDeletedStatus=1 and
            m.FCSSPGroupStandardID =#{standardId}
            <if test="title!=null and title!=''">
                and m.fname_l2 like '%${title}%'
            </if>
            <if test="num!=null and num!=''">
                and m.fnumber like '%${num}%'
            </if>
        </where>
        order by m.fnumber
    </select>
    <select id="selectStandards" resultType="com.example.EAS.vo.SupplierTypeVO">
        select FNAME_L2 as title,FNUMBER as num,fid as id
        from T_BD_CSSPGroupStandard
        where FTYPE=2
    </select>
</mapper>
