<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TBdPersonMapper">

    <select id="selectDatas" resultType="com.example.EAS.vo.PersonsVO">
        select m.fid as id, m.fpersonid,m.FPositionID,p.fname_l2 as zwName,c.fname_l2 as personName ,c.fid as
        userId,c.fnumber as personNumber,c.FDELETEDSTATUS as deleteStatus,o.FNAME_L2 as orgName,t.FNAME_L2 as typeName
        from T_ORG_PositionMember m left join T_ORG_Position p on p.fid=m.FPositionID
        left join T_BD_Person c on c.fid=m.FPersonID
        left join T_ORG_BASEUNIT o on o.fid=p.FAdminOrgUnitID
        left join T_HR_BDEmployeeType t on t.FID=c.FEMPLOYEETYPEID
        <where>
            p.FAdminOrgUnitID=#{orgId,jdbcType=VARCHAR}
            <if test="deleteStatus!=null and deleteStatus!=''">
                and c.FDELETEDSTATUS = #{deleteStatus}
            </if>
            <if test="personName!=null and personName!=''">
                and c.fname_l2 like CONCAT(CONCAT('%',#{personName}),'%')
            </if>
            <if test="personNumber!=null and personNumber!=''">
                and c.fnumber like CONCAT(CONCAT('%',#{personNumber}),'%')
            </if>
        </where>
        order by c.fnumber
    </select>
    <select id="selectDataByOrgIds" resultType="com.example.EAS.vo.PersonsVO">
        select m.FPersonID as id, m.fpersonid,m.FPositionID,p.fname_l2 as zwName,c.fname_l2 as personName ,c.fid as
        userId,c.fnumber as person,c.FDELETEDSTATUS as deleteStatus,p.FAdminOrgUnitID as unitId,
        o.FLONGNUMBER as orgLongNumber,o.FNAME_L2 as orgName,t.FNAME_L2 as typeName
        from T_ORG_PositionMember m left join T_ORG_Position p on p.fid=m.FPositionID
        left join T_BD_Person c on c.fid=m.FPersonID
        left join T_ORG_BASEUNIT o on o.fid=p.FAdminOrgUnitID
        left join T_HR_BDEmployeeType t on t.FID=c.FEMPLOYEETYPEID
        <where>
            c.fname_l2 is not null
            <if test="orgidList != null and orgidList.size > 0">
                and p.FAdminOrgUnitID in
                <foreach item="item" collection="orgidList" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="morePartIdList != null and morePartIdList.size > 0">
                or p.FAdminOrgUnitID in
                <foreach item="item" collection="morePartIdList" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="deleteStatus!=null and deleteStatus!=''">
                and c.FDELETEDSTATUS = #{deleteStatus}
            </if>
            <if test="personName!=null and personName!=''">
                and c.fname_l2 like CONCAT(CONCAT('%',#{personName}),'%')
            </if>
            <if test="personNumber!=null and personNumber!=''">
                and c.fnumber like CONCAT(CONCAT('%',#{personNumber}),'%')
            </if>
        </where>
    </select>


</mapper>
