<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TBdSupplierMapper">

    <select id="selectDatas" resultType="com.example.EAS.vo.SupplierVO">
        select distinct m.fid as id, m.fname_l2 as title , m.fnumber as num,m.FOLDNUMBER as longNumber,
        m.FTAXREGISTERNO as taxNum,m.FMnemonicCode as memNumber,m.FIsInternalCompany isInner,
        ba.FBANKACCOUNT as bankAccount,ba.FBANK as bank
        from T_BD_Supplier m
        left join T_BD_SUPPLIERCOMPANYINFO ci on ci.FSUPPLIERID=m.FID
        left join T_BD_SUPPLIERCOMPANYBANK ba on ba.FSUPPLIERCOMPANYINFOID=ci.fid
        <where>
            m.FUsedStatus=1
            <if test="title!=null and title!=''">
                and m.fname_l2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num!=null and num!=''">
                and m.fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
        </where>
        order by m.fnumber
    </select>



</mapper>
