<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TConChangeauditbillMapper">
    <update id="updateData">
        update T_CON_CHANGEAUDITBILL set FSTATE='1SAVED',FCHANGESTATE='1Saved',FSOURCEFUNCTION=null where fid=#{easid}
    </update>

    <select id="selectDatas" resultType="com.example.EAS.vo.ChangeAuditVO">
        select bill.fid as id,bill.FNAME as title ,bill.FNUMBER as num,bill.FCHANGESTATE as changeState,
        bill.FCHANGEREASONID as changeReasonId,cra.FNAME_L2 as changeReason,
        bill.FSTATE as auditState,bill.FBOOKEDDATE as bizDate,bill.FCURPROJECTID as projectId,pro.FNAME_L2 as projectName,
        bill.FAUDITTYPEID as auditTypeId,ct.FNAME_L2 as auditType,bill.FTOTALCOST as totalCost,bill.FREADESC as reaDesc,
        bill.FAUDITORID as auditorId,pu.FNAME_L2 as auditor,bill.FAUDITTIME as auditTime
        from T_CON_ChangeAuditBill bill
        left join T_FDC_CurProject pro on pro.fid=bill.FCURPROJECTID
        left join T_FDC_ChangeType ct on ct.fid=bill.FAUDITTYPEID
        left join T_FDC_ChangeReason cra on cra.FID=bill.FCHANGEREASONID
        left join T_PM_User pu on pu.fid=bill.FAUDITORID
        <where>
            and bill.FCONTROLUNITID=#{orgId}
            <if test="projectIds != null and projectIds.size > 0">
                and bill.FCurProjectID in
                <foreach item="item" collection="projectIds" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="title!=null and title!=''">
                and bill.fname like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num!=null and num!=''">
                and bill.fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
            <if test="changeState!=null and changeState!=''">
                and bill.fchangestate like CONCAT(CONCAT('%',#{changeState}),'%')
            </if>
            <if test="auditState!=null and auditState!=''">
                and bill.fstate like CONCAT(CONCAT('%',#{auditState}),'%')
            </if>
            <if test="auditType!=null and auditType!=''">
                and ct.fname_l2 like CONCAT(CONCAT('%',#{auditType}),'%')
            </if>
            <if test="projectName!=null and projectName!=''">
                and pro.fname_l2 like CONCAT(CONCAT('%',#{projectName}),'%')
            </if>
            <if test="auditor!=null and auditor!=''">
                and pu.FNAME_L2 like CONCAT(CONCAT('%',#{auditor}),'%')
            </if>
            <if test="auditTime!=null and auditTime!=''">
                and bill.faudittime like CONCAT(CONCAT('%',#{auditTime}),'%')
            </if>
        </where>
        order by bill.FBOOKEDDATE desc,bill.fnumber
    </select>

    <select id="selectDataById" resultType="com.example.EAS.vo.ChangeAuditVO">
        select  bill.fid as id,bill.FNAME as title ,bill.FNUMBER as num,bill.FCHANGESTATE as changeState,
        bill.FCHANGEREASONID as changeReasonId,cra.FNAME_L2 as changeReason,bill.FOFFER as offer,
        bill.FSTATE as auditState,bill.FBOOKEDDATE as bizDate,bill.FCURPROJECTID as projectId,pro.FNAME_L2 as projectName,
        bill.FAUDITTYPEID as auditTypeId,ct.FNAME_L2 as auditType,bill.FTOTALCOST as totalCost,bill.FREADESC as reaDesc,
        bill.FAUDITORID as auditorId,pu.FNAME_L2 as auditor,bill.FAUDITTIME as auditTime,bill.FSOURCEFUNCTION as sourceFunction,
        org.FNAME_L2 as conductDeptName,sup.FNAME_L2 as conductUnitName,wf.FNAME_L2 as wfType,bill.FOFFER as offer,
        bill.FISFEE as isFee,bill.FCOSTUNIT as costUnit,bill.FIsChangeContract as isChangeContract,
        bill.FIsReceipts as isReceipts,bill.FIsImportChange as isImportChange,bill.FIsAlreadyExecuted as isAlreadyDo,
        bill.FDESCRIPTION as description,un.FNAME_L2 as orgName,con.FNUMBER as contractNumber,con.FNAME as contractName,
        en.FOriCostAmount as  oriCostAmount,sup1.FNAME_L2 as mainSupplierName,sup2.FNAME_L2 as copySupplierName,
        sup3.FNAME_L2 as generalSupplierName
        from T_CON_ChangeAuditBill bill
        left join T_FDC_CurProject pro on pro.fid=bill.FCURPROJECTID
        left join T_FDC_ChangeType ct on ct.fid=bill.FAUDITTYPEID
        left join T_FDC_ChangeReason cra on cra.FID=bill.FCHANGEREASONID
        left join T_PM_User pu on pu.fid=bill.FAUDITORID
        left join T_ORG_Admin org on org.fid=bill.FConductDeptID
        left join T_BD_Supplier sup on sup.fid=bill.FCONDUCTUNITID
        left join T_CON_ChangeWFType wf on wf.fid=bill.FWFTYPEID
        left join T_ORG_CtrlUnit un on un.fid=bill.FCONTROLUNITID
        left join T_CON_ChangeSupplierEntry en on en.FPARENTID=bill.FID
        left join T_CON_CONTRACTBILL con on con.fid=en.FCONTRACTBILLID
        left join T_CON_ChangeAuditEntry aen on aen.FPARENTID=bill.fid
        left join T_BD_Supplier sup1 on sup1.fid=en.FMAINSUPPID
        left join T_CON_CopySupplierEntry cse on cse.FPARENTID=en.FID
        left join T_BD_Supplier sup2 on sup2.fid=cse.FCOPYSUPPID
        left join T_CON_NewMainSupplierEntry nmse on nmse.FPARENTID=en.FID
        left join T_BD_Supplier sup3 on sup3.FID=nmse.FMAINSUPPID

        where bill.fid=#{id}
        order by aen.FNUMBER
    </select>

    <select id="selectChangeContents" resultType="com.example.EAS.vo.ChangeAuditContentVO">
        select fid as id,FCHANGECONTENT as changeContent,FISBACK as isBack,FEFFECT as effect
        from T_CON_ChangeAuditEntry
        where FPARENTID=#{id}
        order by fseq
    </select>

    <select id="selectCalcuInfos" resultType="com.example.EAS.vo.CalculationInfoVO">
        select en.fid as id,con.FNUMBER as contractNumber,con.FNAME as contractName,
        sup.FNAME_L2 as mainSuppName,cur.FNAME_L2 as currencyName,en.FEXRATE as exRate,
        en.FORICOSTAMOUNT as oriCostAmount,en.FCOSTAMOUNT as costAmount,en.FCOSTDESCRIPTION as description,
        u.FNAME_L2 as reckonorName,ad.FNAME_L2 as dutyOrgName
        from T_CON_ChangeSupplierEntry en
        left join T_CON_ContractBill con on con.fid=en.FCONTRACTBILLID
        left join T_BD_Supplier sup on sup.fid=en.FMAINSUPPID
        left join T_BD_Currency cur on cur.fid=en.FCURRENCYID
        left join T_PM_User u on u.fid=en.FRECKONORID
        left join T_ORG_Admin ad on ad.fid=en.FDUTYORGID
        where en.FPARENTID=#{id}
        order by en.fseq
    </select>
    <select id="selectProjectInfo" resultType="java.lang.String">
        select fid from T_FDC_CURPROJECT where FPARENTID=#{projectId} or fid=#{projectId} and FIsEnabled = 1
    </select>
</mapper>
