<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TConContractwithouttextMapper">
    <update id="updateNumRecord">
        update oaNumberRecord set value=#{value} where type='notext'
    </update>
    <update id="updateData">
        update T_CON_CONTRACTWITHOUTTEXT set fstate='1SAVED',FSOURCEFUNCTION=null where fid=#{easid}
    </update>

    <select id="selectDatas" resultType="com.example.EAS.vo.NoTextContractVO">
        select bill.fid as id,bill.FNUMBER as num,bill.FNAME as title,
        bill.FBOOKEDDATE as bizDate,bill.FSTATE as state,pc.FAMOUNT as balance,
        bill.FCONTRACTTYPEID as contractTypeId,ct.FNAME_L2 as contractTypeName,
        bill.FProgrammingContract as programContractId,pc.FNAME_L2 as programContractName,
        bill.FCURRENCYID as currencyId,cur.FNAME_L2 as currencyName,
        bill.FAMOUNT as amount,bill.FORIGINALAMOUNT as oriAmount,
        sup.FNAME_L2 as receiverName,bill.FSIGNDATE as signDate,
        u.FNAME_L2 as creatorName,bill.FCREATETIME as createTime,
        bill.FPERSONID as personId,p.FNAME_L2 as personName,ct.FISWEBPC as needHygh,
        pb.FREALSUPPLIERID as receiveUnitId,sup2.FNAME_L2 as realReceiveUnitName
        from T_CON_CONTRACTWITHOUTTEXT bill
        left join T_FDC_ContractType ct on ct.fid=bill.FCONTRACTTYPEID
        left join T_CON_ProgrammingContract pc on pc.fid=bill.FProgrammingContract
        left join T_BD_CURRENCY cur on cur.fid=bill.FCURRENCYID
        left join t_bd_supplier sup on sup.fid=bill.FRECEIVEUNITID
        left join T_PM_USER u on u.fid=bill.FCREATORID
        left join T_BD_Person p on p.fid=bill.FPERSONID
        left join T_BD_Person p1 on p1.fid=bill.FApplierId
        left join T_CON_PayRequestBill pb on pb.FCONTRACTID = bill.fid
        left join t_bd_supplier sup2 on sup2.fid=pb.FREALSUPPLIERID
        left join T_FDC_CURPROJECT cp on cp.fid=bill.FCurProjectID
        <where>
            and cp.FFULLORGUNIT=#{orgId}

            <if test="num!=null and num!=''">
                and bill.fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
            <if test="title!=null and title!=''">
                and bill.fname like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="contractTypeName!=null and contractTypeName!=''">
                and ct.FNAME_L2 like CONCAT(CONCAT('%',#{contractTypeName}),'%')
            </if>
            <if test="receiverName!=null and receiverName!=''">
                and sup2.FNAME_L2 like CONCAT(CONCAT('%',#{receiverName}),'%')
                or p.FNAME_L2 like CONCAT(CONCAT('%',#{receiverName}),'%')
            </if>
            <if test="amount!=null and amount!=''">
                and bill.FAMOUNT like CONCAT(CONCAT('%',#{amount}),'%')
            </if>
            <if test="oriAmount!=null and oriAmount!=''">
                and bill.FORIGINALAMOUNT like CONCAT(CONCAT('%',#{oriAmount}),'%')
            </if>
            <if test="state!=null and state!=''">
                and bill.fstate like CONCAT(CONCAT('%',#{state}),'%')
            </if>
            <if test="bizDate!=null">
                and  <![CDATA[  #{bookDate} < ]]> bill.FBOOKEDDATE and bill.FBOOKEDDATE <![CDATA[   <= #{bizDate}]]>
            </if>
            <if test="creatorName!=null and creatorName!=''">
                and u.FNAME_L2 like CONCAT(CONCAT('%',#{creatorName}),'%')
            </if>
            <if test="authorNum!=null and authorNum!=''">
                and u.fnumber =#{authorNum}
                or p1.fnumber =#{authorNum}
            </if>
            <if test="projectIdList != null and projectIdList.size > 0">
                and bill.FCurProjectID in
                <foreach item="item" collection="projectIdList" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by bill.FBOOKEDDATE desc,bill.fnumber desc
    </select>

    <select id="selectDataByID" resultType="com.example.EAS.vo.NoTextContractVO">
        select bill.fid as id,bill.FNUMBER as num,bill.FNAME as title,bill.FBOOKEDDATE as bizDate,bill.FSTATE as state,
        bill.FCONTRACTTYPEID as contractTypeId,ct.FNAME_L2 as contractTypeName,bill.FLXNUMID as unionBankId,
        bill.FProgrammingContract as programContractId,pc.FNAME_L2 as programContractName, bill.FPAYBILLTYPEID as payBillTypeId,
        bill.FCURRENCYID as currencyId,cur.FNAME_L2 as currencyName,bill.FAMOUNT as amount,bill.FORIGINALAMOUNT as oriAmount,
        sup.FNAME_L2 as realReceiveUnitName,bill.FRECEIVEUNITID as supplierId,bill.FSIGNDATE as signDate,u.FNAME_L2 as creatorName,bill.FCREATETIME as createTime,
        bill.FAUDITTIME as auditTime,bill.FAUDITORID as auditorId,u1.FNAME_L2 as auditorName,bill.FPAYCONTENTTYPEID as payContentId,
        bill.FPERSONID as personId,p.FNAME_L2 as personName,unit.FNAME_L2 as orgName,pro.FNAME_L2 as projectName,pc.FAMOUNT as balance,
        pbt.FNAME_L2 as payBillTypeName,pro.FFULLORGUNIT as orgId,pct.FNAME_L2 as payContentName,bill.FPERIODID as periodId,
        per.FPERIODYEAR as periodYear,per.FPERIODNUMBER as periodNumber,bill.FTAXERQUA as taxerQua,bill.FTAXERNUM as taxerNumber,
        bank.fnumber as unionBankNum,bill.FBANKACCT as bankAccount,bill.fbank as bank,bill.FSETTLEMENTTYPEID as settlementTypeId,
        st.FNAME_L2 as settlementTypeName,bill.FApplierId as applierId,p1.FNAME_L2 as applierName,bill.FUseDepartmentID as useDeptId,
        org.FNAME_L2 as useDeptName,bill.FCostedDeptId as costDeptId,bill.FCOSTEDCOMPANYID as costCompanyId,
        cc.FNAME_L2 as costDeptName,cp.FNAME_L2 as costCompanyName,bill.FMarketProjectId as marketProjectId,
        mar.FNAME as marketProjectName,cost.FNAME_L2 as costAccountName,bill.FMpCostAccountId as costAccountId,
        bill.FInvoiceAmt as invoiceAMT,bill.FRATEAMOUNT as rateAmount,pb.FMoneyDesc as description,ct.FISWEBPC as needHygh,
        pb.FREALSUPPLIERID as receiveUnitId,sup2.FNAME_L2 as receiverName,bill.FISJT as isjt,
        ct.FISMARKET as isMarket
        from T_CON_CONTRACTWITHOUTTEXT bill
        left join T_FDC_ContractType ct on ct.fid=bill.FCONTRACTTYPEID
        left join T_FDC_CostAccount cost on cost.fid=bill.FMPCOSTACCOUNTID
        left join T_CON_ProgrammingContract pc on pc.fid=bill.FProgrammingContract
        left join T_BD_CURRENCY cur on cur.fid=bill.FCURRENCYID
        left join t_bd_supplier sup on sup.fid=bill.FRECEIVEUNITID
        left join T_PM_USER u on u.fid=bill.FCREATORID
        left join T_PM_User u1 on u1.fid=bill.FAUDITORID
        left join T_BD_Person p on p.fid=bill.FPERSONID
        left join T_BD_Person p1 on p1.fid=bill.FApplierId
        left join T_FDC_CurProject pro on pro.fid=bill.FCURPROJECTID
        left join T_ORG_BASEUNIT unit on unit.fid=pro.FFULLORGUNIT
        left join T_CAS_PaymentBillType pbt on pbt.fid=bill.FPAYBILLTYPEID
        left join T_CON_PayContentType pct on pct.fid=bill.FPAYCONTENTTYPEID
        left join T_BD_Period per on per.fid = bill.FPERIODID
        left join T_CON_BankNum bank on bank.fid = bill.FLXNUMID
        left join T_BD_SettlementType st on st.fid=bill.FSETTLEMENTTYPEID
        left join T_ORG_Admin org on org.fid=bill.FUseDepartmentID
        left join T_ORG_CostCenter cc on cc.fid=bill.FCOSTEDDEPTID
        left join T_ORG_Company cp on cp.fid=bill.FCOSTEDCOMPANYID
        left join T_CON_MarketProject mar on mar.fid=bill.FMARKETPROJECTID
        left join T_CON_PayRequestBill pb on pb.FCONTRACTID = bill.fid
        left join t_bd_supplier sup2 on sup2.fid=pb.FREALSUPPLIERID

        where bill.fid=#{id}
    </select>
    <select id="selectNewNum" resultType="java.lang.Integer">
              select value from oaNumberRecord where type like '%notext%'
    </select>
    <select id="selectPersonId" resultType="java.lang.String">
        select fid from T_PM_USER where FNUMBER=#{person}
    </select>
    <select id="selectMarketProjectName" resultType="java.lang.String">
        select FNAME from T_CON_MarketProject where fid=#{marketProjectId}
    </select>
    <select id="selectContractType" resultType="java.lang.String">
        select FNAME_L2  from T_FDC_CONTRACTTYPE where fid=#{contractTypeId}
    </select>
    <select id="selectPayContentName" resultType="java.lang.String">
        select FNAME_L2 from T_CON_PayContentType where fid=#{payContentId}
    </select>
    <select id="selectPeriodId" resultType="java.lang.String">
        select FID from T_BD_Period where FNUMBER=#{periodNumber}
    </select>
    <select id="selectUnionBankId" resultType="java.lang.String">
        select fid from T_CON_BankNum where FNUMBER=#{unionBankNum}
    </select>
    <select id="selectRMBCurrencyId" resultType="java.lang.String">
        select fid from T_BD_CURRENCY where FNAME_L2 like '%人民币%'
    </select>
    <select id="selectNTMarketCons" resultType="com.example.EAS.vo.MarketContDetailVO">
         select FID as id,FAMOUNT as amount,FCONTENT as content,frate as rate,
    FDATE as fsdate,fremark as remark
    from T_CON_ContractWTMarketEntry
    where fheadid=#{id}
    </select>
</mapper>
