<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TConPayrequestbillMapper">


    <select id="selectDatas" resultType="com.example.EAS.vo.PayRequestBillVO">
        select bill.fid as id,bill.FControlUnitID as orgId,bu.FNAME_L2 as orgName,
        bill.FBOOKEDDATE as bizDate,bill.FNUMBER as num,bill.FSTATE as state,bill.FNAME as title,
        bill.FCREATORID as creatorId,u.FNAME_L2 as creatorName,bill.FCURPROJECTID as projectId,
        cp.FNAME_L2 as projectName,con.FNUMBER as contractNumber,con.FNAME as contractName,
        bill.FSUPPLIERID as supplierId,sup.FNAME_L2 as supplierName,bill.FCURRENCYID as currencyId,
        cur.FNAME_L2 as currencyName,bill.FAMOUNT as amount,bill.FORIGINALAMOUNT as oriAmount,
        bill.FRECBANK as recBank,bill.FRECACCOUNT as recAccount,bill.FUSAGE as remark,
        pt.FNAME_L2 as paymentTypeName,bill.FAUDITORID as auditorId,u1.FNAME_L2 as auditorName,
        bill.FAUDITTIME auditTime,bill.FCREATETIME createTime,
        (select count(ass.fid) from T_BAS_BoAttchAsso ass where ass.FBOID=bill.fid) as attNums
        from T_CON_PayRequestBill bill
        left join t_pm_user u on u.fid=bill.FCREATORID
        left join t_pm_user u1 on u1.fid=bill.FAUDITORID
        left join T_FDC_PaymentType pt on pt.fid=bill.FPAYMENTTYPE
        left join T_FDC_CurProject cp on cp.fid=bill.FCURPROJECTID
        left join T_CON_CONTRACTBILL con on con.fid=bill.FCONTRACTID
        left join T_BD_Supplier sup on sup.fid=bill.FSUPPLIERID
        left join T_BD_CURRENCY cur on cur.fid=bill.FCURRENCYID
        left join T_ORG_BASEUNIT bu on bu.fid=bill.FCONTROLUNITID
        left join t_bd_person p on p.fid=bill.FApplierId
        <where>
            cp.FFULLORGUNIT=#{orgId}
            and bill.FSource='0D6DD1F4'
            <if test="title!=null and title!=''">
                and bill.FNAME like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num!=null and num!=''">
                and bill.FNUMBER like CONCAT(CONCAT('%',#{num}),'%')
            </if>
            <if test="contractNumber!=null and contractNumber!=''">
                and con.FNUMBER like CONCAT(CONCAT('%',#{contractNumber}),'%')
            </if>
            <if test="contractName!=null and contractName!=''">
                and con.FNAME like CONCAT(CONCAT('%',#{contractName}),'%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and sup.FNAME_L2 like CONCAT(CONCAT('%',#{supplierName}),'%')
            </if>
            <if test="projectName!=null and projectName!=''">
                and cp.FNAME_L2 like CONCAT(CONCAT('%',#{projectName}),'%')
            </if>
            <if test="bizDate!=null">
                and  <![CDATA[  #{bookDate} < ]]> bill.FBOOKEDDATE and bill.FBOOKEDDATE <![CDATA[   <= #{bizDate}]]>
            </if>
            <if test="creatorName!=null and creatorName!=''">
                and u.FNAME_L2 like CONCAT(CONCAT('%',#{creatorName}),'%')
            </if>
            <if test="state!=null and state!=''">
                and bill.fstate like CONCAT(CONCAT('%',#{state}),'%')
            </if>
            <if test="authorNum!=null and authorNum!=''">
                and u.fnumber =#{authorNum}
                or p.fnumber  =#{authorNum}
            </if>
            <if test="projectIds != null and projectIds.size > 0">
                and bill.FCURPROJECTID in
                <foreach item="item" collection="projectIds" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by bill.FBOOKEDDATE desc,bill.fnumber desc
    </select>
    <select id="selectDataById" resultType="com.example.EAS.vo.PayRequestBillVO">
        select bill.fid as id,bill.FCONTROLUNITID as orgId,bu.FNAME_L2 as orgName,
        bill.FBOOKEDDATE as bizDate,bill.FNUMBER as num,bill.FSTATE as state,bill.FNAME as title,
        bill.FCREATORID as creatorId,u.FNAME_L2 as creatorName,bill.FCURPROJECTID as projectId,
        bill.FCONTRACTID as contractId,bill.FSOURCEFUNCTION as sourceFunction,
        cp.FNAME_L2 as projectName,con.FNUMBER as contractNumber,con.FNAME as contractName,
        bill.FSUPPLIERID as realSupplierId,sup.FNAME_L2 as realSupplierName,bill.FCURRENCYID as currencyId,
        cur.FNAME_L2 as currencyName,bill.FAMOUNT as amount,bill.FORIGINALAMOUNT as oriAmount,
        bill.FRECBANK as recBank,bill.FRECACCOUNT as recAccount,bill.FUSAGE as remark,
        pt.FNAME_L2 as paymentTypeName,bill.FAUDITORID as auditorId,u1.FNAME_L2 as auditorName,
        bill.FAUDITTIME auditTime,bill.FCREATETIME creatTime,bill.FRealSupplierID as supplierId,
        sup1.FNAME_L2 as supplierName, st.FNAME_L2 as settleMentTypeName,
        bill.FPAYCONTENTTYPEID as payContentTypeId,pc.FNAME_L2 as payContentTypeName,
        bill.FPAYDATE as payDate,con.FSTARTDATE as startDate,con.FENDDATE as endDate,
        con.FTAXERQUA as taxerQua,con.FTAXERNUM as taxerNum,bank.FNUMBER as unionBankNum,
        con.FSTARTDATE as startDate,con.FENDDATE as endDate,
        bill.FEXCHANGERATE as exRate,bill.FGRTAMOUNT as grtAmount,bill.FApplierId as applierId,
        per.FNAME_L2 as applierName,ad.FNAME_L2 as useDepartMentName,
        com.FNAME_L2 as costCompanyName,cen.FNAME_L2 as costDeptName,
        con.forgtype as orgType,con.FISJT as isJT,bill.FCOMPLETEPRJAMT as thisAMT,
        con.FSETTLEAMT as settleAMT,bill.FDESCRIPTION as remark,bill.FLATESTPRICE as latestPrice,
        bill.FIsDifferPlace,
        case when bill.FIsDifferPlace=0 then '同城'
        when bill.FIsDifferPlace=1 then '异地'
        end isDifPlace,
        bill.FUrentDegree,
        case when bill.FUrentDegree=1 then '普通'
        when bill.FUrentDegree=2 then '加急'
        end urtDegree,
        en.FREQUESTAMOUNT as applyAMT,et.FNAME_L2 as costType,bill.FISPAY as isPay
        from T_CON_PayRequestBill bill
        left join T_CON_PayRequestBillBgEntry en on en.FHEADID=bill.fid
        left join T_BC_EXPENSETYPE et on et.fid=en.FEXPENSETYPEID
        left join t_pm_user u on u.fid=bill.FCREATORID
        left join t_pm_user u1 on u1.fid=bill.FAUDITORID
        left join T_FDC_PaymentType pt on pt.fid=bill.FPAYMENTTYPE
        left join T_FDC_CurProject cp on cp.fid=bill.FCURPROJECTID
        left join T_CON_CONTRACTBILL con on con.fid=bill.FCONTRACTID
        left join T_BD_Supplier sup on sup.fid=bill.FSUPPLIERID
        left join T_BD_Supplier sup1 on sup1.fid=bill.FRealSupplierID
        left join T_BD_CURRENCY cur on cur.fid=bill.FCURRENCYID
        left join T_CON_PayContentType pc on pc.fid=bill.FPAYCONTENTTYPEID
        left join T_CON_BankNum bank on bank.fid=bill.FLXNUMID
        left join T_BD_SettlementType st on st.fid=bill.FSETTLEMENTTYPEID
        left join T_BD_Person per on per.fid=bill.FApplierId
        left join T_ORG_Admin ad on ad.fid=bill.FUseDepartmentID
        left join T_ORG_CostCenter cen on cen.fid=bill.FCOSTEDDEPTID
        left join T_ORG_Company com on com.fid=bill.FCostedCompanyId
        left join T_ORG_BASEUNIT bu on bu.fid=bill.FCONTROLUNITID
        where bill.fid=#{id}
    </select>

</mapper>
