<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TConContractbillMapper">
    <insert id="insertAddContract">
        insert into T_CON_CONTRACTBILL()
    </insert>

    <select id="selectContractAdds" parameterType="com.example.EAS.vo.ContractVO"
            resultType="com.example.EAS.vo.ContractAddVO">
    select
    b.FID as id,
    b.FNAME          as title,
    b.FNUMBER         as num,
    b.FMainContractNumber         as mainNumber,
    t.FNAME_L2        as contractType,
    b.FCOSTPROPERTY   as contractNature,
    b.FBOOKEDDATE     as bizDate,
    s.FNAME_L2        as partB,
    b.FORIGINALAMOUNT as originalAmount,
    b.FAMOUNT         as amount,
    cu.fname_l2       as currencyName,
    ad.FNAME_L2       as deptName,
    b.FREMARK         as remark
    from T_CON_CONTRACTBILL b
    left join T_FDC_ContractType t on t.fid = b.FCONTRACTTYPEID
    left join T_BD_SUPPLIER s on s.fid = b.FPARTBID
    left join T_BD_CURRENCY cu on cu.fid=b.FCURRENCYID
    left join T_ORG_ADMIN ad on ad.fid=b.FCREATEDEPTID
    where b.FMAINCONTRACTNUMBER = #{number}
    </select>

    <select id="selectDatas" resultType="com.example.EAS.vo.ContractVO">
        select cb.FID id,cb.fbookeddate bizDate,cb.FState state,cb.FHasSettled hasSettled,ct.fname_l2 as conTypeName,
        cb.fnumber num,cb.FNAME as conName,pc.fname_l2 as hygh,cb.FProgrammingContract as hyghId,
        cb.fmaincontractnumber as mainNumber,cb.famount as amount,pc.FAMOUNT as balance,
        cur.fname_l2 curName,cb.FSrcAmount srcAmount,cb.FOriginalAmount originalAmount,
        supb.fname_l2 as partBName,supc.fname_l2 as partCName,cs.FNAME_L2 as csName,
        cb.fsigndate signDate,oa.fname_l2 as deptName,p.fname_l2 as personName,oaa.FNAME_L2 creatDept,
        ldp.fname_l2 as partAName,cb.FCostProperty costProperty,cb.FContractPropert contractNature,
        cb.FIsArchived isArchived, u.fname_l2 auditor,cb.FLastUpdateTime lastAuditTime,uc.fname_l2 as creator,
        cb.fcreatetime createTime,cb.FIsRespite isRespite,cb.FCONTRACTTYPEID as conTypeId,
        cp.FNAME_L2 as projectName,un.FNAME_L2 as orgName,cb.FISCOSTSPLIT as isCost,
        (select count(ass.fid) from T_BAS_BoAttchAsso ass where ass.FBOID=cb.fid) as attNums
        from T_CON_ContractBill cb left join T_FDC_ContractType ct on cb.FContractTypeID=ct.fid
        left join T_CON_ProgrammingContract pc on pc.fid=cb.FProgrammingContract
        left join T_BD_Currency cur on cur.fid=cb.FCurrencyID
        left join T_BD_Supplier supb on supb.fid=cb.FPartBID
        left join T_BD_Supplier supc on supc.fid=cb.FPartCID
        left join T_FDC_ContractSource cs on cs.fid=cb.FContractSourceId
        left join T_BD_Person p on p.fid=cb.FRespPersonID
        left join T_FDC_CURPROJECT cp on cp.fid=cb.FCURPROJECTID
        left join T_ORG_BASEUNIT un on un.fid=cp.FFULLORGUNIT
        left join T_ORG_Admin oa on oa.fid=cb.FRespDeptID
        left join T_ORG_Admin oaa on oaa.fid=cb.FCreateDeptID
        left join T_FDC_LandDeveloper ldp on ldp.fid=cb.FLandDeveloperID
        left join T_PM_User u on u.fid=cb.FAuditorID
        left join T_PM_USER uc on uc.fid=cb.FCreatorID
        <where>
            cp.FFULLORGUNIT=#{orgId}
            <if test="num!=null and num!=''">
                and cb.fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
            <if test="bizDate!=null">
                and  <![CDATA[  #{bookDate} < ]]> cb.fbookeddate and cb.fbookeddate <![CDATA[   <= #{bizDate}]]>
            </if>
            <if test="state!=null and state!=''">
                and cb.FState like CONCAT(CONCAT('%',#{state}),'%')
            </if>
            <if test="conTypeName!=null and conTypeName!=''">
                and ct.fname_l2 like CONCAT(CONCAT('%',#{conTypeName}),'%')
            </if>
            <if test="conTypeIdList != null and conTypeIdList.size > 0">
                and ct.fid in
                <foreach item="item" collection="conTypeIdList" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="conName!=null and conName!=''">
                and cb.fname like CONCAT(CONCAT('%',#{conName}),'%')
            </if>
            <if test="partB!=null and partB!=''">
                and supb.fname_l2 like CONCAT(CONCAT('%',#{partB}),'%')
            </if>
            <if test="personName!=null and personName!=''">
                and p.fname_l2 like CONCAT(CONCAT('%',#{personName}),'%')
            </if>
            <if test="deptName!=null and deptName!=''">
                and oa.fname_l2 like CONCAT(CONCAT('%',#{deptName}),'%')
            </if>
            <if test="creator!=null and creator!=''">
                and uc.fname_l2 like CONCAT(CONCAT('%',#{creator}),'%')
            </if>
            <if test="creatDept!=null and creatDept!=''">
                and oaa.FNAME_L2 like CONCAT(CONCAT('%',#{creatDept}),'%')
            </if>
            <if test="authorNum!=null and authorNum!=''">
                and p.fnumber =#{authorNum}
                or uc.fnumber=#{authorNum}
            </if>
            <if test="projectIds != null and projectIds.size > 0">
                and cb.FCurProjectID in
                <foreach item="item" collection="projectIds" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by cb.fbookeddate desc ,cb.fnumber desc
    </select>
    <select id="selectProject" resultType="java.lang.String">
        select FParentID from T_FDC_CurProject where fid=#{projectId}
    </select>
    <select id="selectProjectIds" resultType="java.lang.String">
        select fid from T_FDC_CurProject where FPARENTID=#{projectId}
    </select>
    <select id="selectConTypeById" resultType="java.lang.String">
        select fid from T_FDC_ContractType where fparentid=#{conTypeId}
    </select>
    <select id="selectPersonByNum" resultType="java.lang.String">
        select FID  from T_BD_PERSON where fnumber = #{number}
    </select>
    <select id="selectDeptByNum" resultType="java.lang.String">
        select FID from T_ORG_BASEUNIT where FNUMBER = #{number}
    </select>
    <select id="selectUnionBankId" resultType="java.lang.String">
   select fid  from  T_CON_BANKNUM  where FNUMBER = #{unionBankNum}
    </select>
    <select id="selectConDetailsByCT" resultType="com.example.EAS.vo.ContractDetailVO">
       select cb.FID id,cb.fbookeddate bizDate,cb.FState state,cb.FHasSettled hasSettled,ct.fname_l2 as conTypeName,
        cb.fnumber num,cb.FNAME as conName,pc.fname_l2 as hygh,cb.FPROGRAMMINGCONTRACT as hyghId,
        cb.fmaincontractnumber as mainNumber,cur.fname_l2 curName,cb.FSrcAmount srcAmount,cb.FOriginalAmount originalAmount,
        cb.famount amount,supb.fname_l2 as partBName,supc.fname_l2 as partCName,cs.fname_l2 as csName,
        cb.fsigndate signDate,oa.fname_l2 as deptName,p.fname_l2 as personName,oaa.FNAME_L2 creatDept,
        ldp.fname_l2 as partA,cb.FCostProperty costProperty,cb.FContractPropert contractNature,
        cb.FIsArchived isArchived, u.fname_l2 auditor,cb.FLastUpdateTime lastAuditTime,uc.fname_l2 as creator,
        cb.fcreatetime createTime,cb.FIsRespite isRespite,cp.FNAME_L2 as projectName,cb.FISCOSTSPLIT as isCost
        from T_CON_ContractBill cb
        left join T_FDC_ContractType ct on cb.FContractTypeID=ct.fid
        left join T_CON_ProgrammingContract pc on pc.fid=cb.FProgrammingContract
        left join T_BD_Currency cur on cur.fid=cb.FCurrencyID
        left join T_BD_Supplier supb on supb.fid=cb.FPartBID
        left join T_BD_Supplier supc on supc.fid=cb.FPartCID
         left join T_FDC_CURPROJECT cp on cp.fid=cb.FCURPROJECTID
        left join T_FDC_ContractSource cs on cs.fid=cb.FContractSourceId
        left join T_BD_Person p on p.fid=cb.FRespPersonID
        left join T_ORG_Admin oa on oa.fid=cb.FRespDeptID
        left join T_ORG_Admin oaa on oaa.fid=cb.FCreateDeptID
        left join T_FDC_LandDeveloper ldp on ldp.fid=cb.FLandDeveloperID
        left join T_PM_User u on u.fid=cb.FAuditorID
        left join T_PM_USER uc on uc.fid=cb.FCreatorID
          where cb.fid=#{id}
    </select>
    <select id="selectSignInfos" parameterType="com.example.EAS.vo.ContractVO"
            resultType="com.example.EAS.vo.ContractSignDetailVO">
    select fid as id,FDetail as detail,FREMARK as description,FPARENTID as parentId,
    FAMOUNT as amount,FRATE as rate,FTOTALAMOUNT as totalAmount
    from T_CON_ContractBillRateEntry where FPARENTID=#{id}
    </select>
    <select id="selectDetails" parameterType="com.example.EAS.vo.ContractVO"
            resultType="com.example.EAS.vo.ContractDetailVO">
    select fid as id,FDESC as description,FDETAIL as detailInfo,
    FCONTENT as content
    from T_CON_CONTRACTBILLENTRY
    where FPARENTID=#{id}
    order by fcontent
    </select>

    <select id="selectMarketCons" resultType="com.example.EAS.vo.MarketContDetailVO">
    select FID as id,FAMOUNT as amount,FCONTENT as content,frate as rate,
    FDATE as fsdate,fremark as remark
    from T_CON_ContractMarketEntry
    where fheadid=#{id}
    </select>

    <select id="viewContractVO" resultType="com.example.EAS.vo.ContractVO">
    select cb.FID id,cb.fbookeddate bizDate,cb.FState state,cb.FHasSettled hasSettled,ct.fname_l2 as conTypeName,
    cb.fnumber num,cb.FNAME as conName,cb.FProgrammingContract as hyghId,pc.fname_l2 as hygh,cb.fmaincontractnumber as mainNumber,
    cur.fname_l2 curName,cb.FSrcAmount srcAmount,cb.FOriginalAmount originalAmount,cb.famount amount,
    supb.fname_l2 as partBName,supb.FID as partB,supc.fname_l2 as partCName,supc.fid as partC,cs.FNAME_L2 as csName,
    cb.fsigndate signDate,oa.fname_l2 as deptName,p.fname_l2 as personName,oaa.FNAME_L2 creatDept,
    ldp.fname_l2 as partAName,ldp.FID as partA,cb.FCostProperty costProperty,cb.FContractPropert contractNature,
    cb.FIsArchived isArchived, u.fname_l2 auditor,cb.FLastUpdateTime lastAuditTime,uc.fname_l2 as creator,
    cb.fcreatetime createTime,cb.FIsRespite isRespite,cb.FCONTRACTTYPEID as conTypeId,cb.FEXRATE as exRate,
    cb.FMARKETPROJECTID as marketProjectId,cb.FMPCOSTACCOUNTID as costAccountId,pc.FAMOUNT as balance,
    cb.FCURRENCYID as currencyId,p.FNUMBER as person,cb.FCURPROJECTID as projectId,cp.FNAME_L2 as projectName,
    cp.FFULLORGUNIT as orgId,un.FNAME_L2 as orgName,mar.FNAME as marketProjectName,cost.FNAME_L2 as costAccountName,
    cb.FGRTRATE as grtRate,cb.FGRTAMOUNT as grtAmount,cb.FSTARTDATE as startDate,cb.FENDDATE as endDate,
    cb.FCONTRACTWFTYPEID as contractWFTypeId,wf.FNAME_L2 as contractWFTypeName,cb.FOrgType as contractWFStartType,
    cb.FDESCRIPTION as description,bank.FNUMBER as unionBankNum,cb.FBANK as bank,cb.FBANKACCOUNT as bankAccount,
    cb.FTAXERNUM as taxNum,cb.FTAXERQUA as taxQua,cb.FISJT as isjt,cb.FISCOSTSPLIT as isCost,
    ct.FISMARKET as isMarket
    from T_CON_ContractBill cb
    left join T_FDC_ContractType ct on cb.FContractTypeID=ct.fid
    left join T_CON_ProgrammingContract pc on pc.fid=cb.FProgrammingContract
    left join T_BD_Currency cur on cur.fid=cb.FCurrencyID
    left join T_BD_Supplier supb on supb.fid=cb.FPartBID
    left join T_BD_Supplier supc on supc.fid=cb.FPartCID
    left join T_BD_Person p on p.fid=cb.FRespPersonID
    left join T_ORG_Admin oa on oa.fid=cb.FRespDeptID
    left join T_ORG_Admin oaa on oaa.fid=cb.FCreateDeptID
    left join T_FDC_LandDeveloper ldp on ldp.fid=cb.FLandDeveloperID
    left join T_PM_User u on u.fid=cb.FAuditorID
    left join T_FDC_CURPROJECT cp on cp.fid=cb.FCURPROJECTID
    left join T_ORG_BASEUNIT un on un.fid=cp.FFULLORGUNIT
    left join T_PM_USER uc on uc.fid=cb.FCreatorID
    left join T_CON_MarketProject mar on mar.fid = cb.FMARKETPROJECTID
    left join T_FDC_CostAccount cost on cost.fid=cb.FMPCOSTACCOUNTID
    left join T_CON_ContractWFType wf on wf.fid=cb.FCONTRACTWFTYPEID
    left join T_CON_BankNum bank on bank.fid=cb.FLXNUMID
    left join T_FDC_ContractSource cs on cs.fid=cb.FCONTRACTSOURCEID

    where cb.FID=#{id}
    </select>
    <select id="selectMainNums" resultType="com.example.EAS.vo.ContractVO">
        select fnumber as num
        from T_CON_ContractBill
        where FControlUnitID=#{orgId} and FCurProjectID = #{projectId}
        order by fnumber
    </select>
    <select id="selectUserByNum" resultType="java.lang.String">
        select fid from T_PM_USER where FNUMBER=#{number}
    </select>
    <select id="selectHYGH" resultType="java.lang.String">
        select FBILLID from T_CON_ProgrammingContract where fid=#{hyghId,jdbcType=VARCHAR}
        and FBILLID is not null
    </select>
    <select id="selectHYGHInContract" resultType="java.lang.String">
        select * from T_CON_ContractBill
        <where>
            FProgrammingContract=#{hyghId,jdbcType=VARCHAR}
            <if test="id!=null and id!=''">
                and fid !=#{id}
            </if>
        </where>
    </select>
    <select id="selectContractType" resultType="java.lang.String">
        select FNAME_L2 from T_CON_ContractWFType where fid=#{contractWFTypeId}
    </select>
    <select id="selectContractSourceId" resultType="java.lang.String">
        select fid from T_FDC_ContractSource where FNAME_L2 like CONCAT(CONCAT('%',#{csName}),'%')
    </select>


</mapper>
