<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TConSupplierapplyMapper">
    <insert id="insertOaid">
        insert into oaidrecord(billId,oaid) values(#{easid},#{oaid})
    </insert>
    <insert id="insertAcceptInfo">
        insert into acceptinfo(billId,accepttime,billtype,optype,state,message)
         values(#{easid},#{acceptTime},#{finalBillType},#{acceptType},#{i},#{message})
    </insert>
    <update id="updateNumberRecord">
        update OANUMBERRECORD set value =#{numberRecord} where type like '%supplier%'
    </update>
    <update id="updateOaid">
        update OAIDRECORD set OAID=#{oaId} where billId=#{billId}
    </update>
    <update id="updateFileNumrecord">
         update oanumberrecord set value=#{numberRecord} where type like '%fileNum%'
    </update>
    <update id="updateCreatorId">
        update T_CON_SUPPLIERAPPLY set FCREATORID = #{creatorId} where fid=#{id}
    </update>
    <update id="updateData">
        update T_CON_SUPPLIERAPPLY set fstate='1SAVED' where fid=#{easid}
    </update>
    <update id="updatePersonPost">
        update T_CON_SUPPLIERAPPLY set  foaposition= #{foaposition} where fid= #{id}
    </update>

    <delete id="deleteData">
        delete from OAIDRECORD where billid=#{billId}
    </delete>

    <select id="selectDatas" resultType="com.example.EAS.vo.SupplierApplyVO">
        select sa.fid id,sa.fnumber num,sa.fname title,sa.fstate state,sa.fdescription description,
        sa.fcreatorid,sa.fcreatetime createTime,sa.fauditorid,sa.faudittime auditTime,sa.foaposition as foaposition,
        sa.FBANKACCOUNT bankAccount,sa.FBANK bank,sa.FTAXERQUA taxerQua,sa.FTaxerNum taxerNum,
        u.fname_l2 as creator,u1.fname_l2 as auditor,sa.FSOURCEFUNCTION as sourceFunction
        from T_CON_SupplierApply sa
        left join T_PM_User u on u.fid=sa.fcreatorid
        left join T_PM_User u1 on u1.fid=sa.fauditorid
        <where>
            <if test="id!=null and id!=''">
                and sa.fid=#{id}
            </if>
            <if test="title!=null and title!=''">
                and sa.fname like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num!=null and num!=''">
                and sa.fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
            <if test="auditor!=null and auditor!=''">
                and u1.fname_l2 like CONCAT(CONCAT('%',#{auditor}),'%')
            </if>
            <if test="creator!=null and creator!=''">
                and u.fname_l2 like CONCAT(CONCAT('%',#{creator}),'%')
            </if>
            <if test="description!=null and description!=''">
                and sa.fdescription like CONCAT(CONCAT('%',#{description}),'%')
            </if>
            <if test="state!=null and state!=''">
                and sa.fstate like CONCAT(CONCAT('%',#{state}),'%')
            </if>
        </where>
        order by sa.FBOOKEDDATE desc,sa.fnumber desc
    </select>
    <select id="selectNumberRecord" resultType="java.lang.Integer">
        select value from OANUMBERRECORD where type like '%supplier%'
    </select>
    <select id="selectCreatorId" resultType="java.lang.String">
        select fid from T_PM_USER where FNUMBER = #{creatorNum}
    </select>
    <select id="selectByNum" resultType="com.example.EAS.vo.SupplierApplyVO">
        select * from T_CON_BankNum where FNUMBER = #{sourceFunction}
    </select>
    <select id="selectByName" resultType="com.example.EAS.vo.SupplierApplyVO">
        select * from T_CON_SupplierApply where FNAME =#{title}
    </select>
    <select id="selectByNumId" resultType="com.example.EAS.vo.SupplierApplyVO">
        select * from T_CON_SupplierApply where FTAXERNUM=#{taxerNum} and fid !=#{id}
    </select>
    <select id="selectByTaxNum" resultType="com.example.EAS.vo.SupplierApplyVO">
          select * from T_CON_SupplierApply where FTAXERNUM=#{taxerNum}
    </select>
    <select id="selectDataById" resultType="com.example.EAS.vo.SupplierApplyVO">
        select sa.fid as  id ,sa.FNAME as title,sa.FNUMBER as num,
        sa.FBANK as bank,sa.FBANKACCOUNT as bankAccount,sa.FTAXERQUA as taxerQua,
        sa.FTAXERNUM as taxerNum,sa.FSOURCEFUNCTION as sourceFunction,
        sa.FDESCRIPTION as description,sa.FSTATE as  state,
        sa.FSOURCEFUNCTION as sourceFunction,
        sa.FCREATETIME as createTime,sa.FAUDITTIME as auditTime
        from T_CON_SupplierApply sa
      where sa.fid=#{id}
    </select>
    <select id="selectEASURL" resultType="java.lang.String">
        select url from weburl where type ='EASURL'
    </select>
    <select id="selectOAURL" resultType="java.lang.String">
        select url from weburl where type ='OAURL'
    </select>

    <select id="selectCreator" resultType="com.example.EAS.vo.PersonsVO">
        select fid as id,FNAME_L2 as personName,fnumber as person  from T_PM_USER where FNUMBER = #{creatorNum}
    </select>
    <select id="selectDeptName" resultType="java.lang.String">
        select FNAME_L2 as orgName from  T_ORG_BASEUNIT where FNUMBER = #{orgNum}
    </select>
    <select id="selectDeptId" resultType="java.lang.String">
         select fid from  T_ORG_BASEUNIT where FNUMBER = #{orgNum}
    </select>
    <select id="selectIFExist" resultType="com.example.EAS.vo.LoginVO">
    select b.FNUMBER as orgNum,u.FNUMBER as personNum from T_ORG_BASEUNIT b
    left join T_PM_USER u on u.FCONTROLUNITID=b.fid
    where b.FNUMBER=#{org} and u.fnumber=#{person}
    </select>
    <select id="selectOrgId" resultType="java.lang.String">
        select FORGUNITID as orgId from T_CON_SUPPLIERAPPLY where fid=#{id}
    </select>
    <select id="selectData" resultType="java.lang.Object">
        select * from OAIDRECORD where OAID=#{oaId} and billId=#{billId}
    </select>
    <select id="selectFileNumberRecord" resultType="java.lang.Integer">
        select value from oanumberrecord where type like '%fileNum%'
    </select>
    <select id="selectPersonByNum" resultType="com.example.EAS.vo.PersonsVO">
        select FNAME_L2 as personName from t_pm_user where FNUMBER=#{person1}
    </select>
    <select id="selectNumFromWebAttachment" resultType="java.lang.String">
        select fileNum from webAttachment where easId=#{id}
    </select>
    <select id="selectAttachmentsByNum" resultType="com.example.EAS.vo.AttachmentsVO">
         select a.url as fileUrl,a.fileType,a.fileSize as fileSize,a.fileNum as num,a.weburl as webUrl,a.createTime as createTime,a.personName,a.filename as title from webattachment a where fileNum=#{num}
    </select>
    <select id="selectOrgInfoByPerson" resultType="java.lang.String">
    select flongnumber from T_ORG_BaseUnit where fid in
    (select FORGID from T_PM_OrgRange where FUSERID in
    (select fid from t_pm_user where fnumber=#{person}))
    </select>

    <select id="selectOrgList" resultType="com.example.EAS.vo.OrgVO">
        select un.fid as id,un.flongnumber as longNumber,un.fname_l2 as title,un.fnumber as num from  t_org_baseunit un
       left join  T_ORG_OUPartFI fi on fi.fid=un.FPartFIID where fisbizunit=1  order by un.fnumber
    </select>
    <select id="selectByNameId" resultType="com.example.EAS.vo.SupplierApplyVO">
          select * from T_CON_SupplierApply where FNAME =#{title} and fid!=#{id}
    </select>
    <select id="selectSupplierByName" resultType="java.lang.Object">
        select * from T_BD_SUPPLIER where FNAME_L2=#{title}
    </select>
    <select id="selectViewUrl" resultType="java.lang.String">
        select url from webUrl where type ='view'
    </select>
    <select id="selectAppUrl" resultType="java.lang.String">
        select url from webUrl where type ='app'
    </select>
    <select id="selectOaid" resultType="java.lang.String">
         select oaid from oaidrecord where billId=#{id,jdbcType=VARCHAR} order by oaid desc
    </select>
    <select id="selectPersonPost" resultType="java.lang.String">
         select url from webUrl where type ='personPost'
    </select>
    <select id="selectEASLogin" resultType="java.lang.String">
         select url from weburl where type ='EASLOGIN'
    </select>
    <select id="selectTemplateId" resultType="java.lang.String">
        select tid from oatemplate where type=#{supplier}
    </select>
    <select id="selectOAINFO" resultType="java.lang.String">
        select url from weburl where type ='OAINFO'
    </select>

</mapper>
