<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TFdcCostaccountMapper">

    <select id="selectDatas" resultType="com.example.EAS.vo.CostAccountVO">
        select c.fid as id,
        c.fnumber as num,c.flongnumber as longNumber,c.fname_l2 as title,
        c.FAssigned as assigned,c.FLevel,c.FDescription_l2 as description,
        c.FCurProject as curProject,c.FFullOrgUnit as fullOrgUnit,
        b.FNAME_L2 as orgName,e.ftype as controlType
        from T_FDC_CostAccount c
        left join T_ORG_BaseUnit b on b.fid=c.FFULLORGUNIT
        left join T_CON_MarketProjectCostEntry e on e.FCOSTACCOUNTID=c.FID
        <where>
            e.FHEADID=#{marketId}
            <if test="title!=null and title!=''">
                and c.fname_l2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="orgName!=null and orgName!=''">
                and b.FNAME_L2 like CONCAT(CONCAT('%',#{orgName}),'%')
            </if>
            <if test="num!=null and num!=''">
                and c.fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
        </where>
        order by c.fnumber
    </select>
    <select id="selectUnUseCostAccount" resultType="com.example.EAS.vo.CostAccountVO">
         select c.fid as id,
         c.fnumber as num,c.flongnumber as longNumber,c.fname_l2 as title,
        c.FAssigned as assigned,c.FLevel,c.FDescription_l2 as description,
        c.FCurProject as curProject,c.FFullOrgUnit as fullOrgUnit,
        b.FNAME_L2 as orgName,e.ftype as controlType
        from T_FDC_CostAccount c
        left join T_ORG_BaseUnit b on b.fid=c.FFULLORGUNIT
        left join T_CON_MarketProjectCostEntry e on e.FCOSTACCOUNTID=c.FID
         where c.fid not exists
        (select fmpcostaccountid from T_CON_ContractBill where FMARKETPROJECTID=#{marketId})
    </select>
</mapper>
