<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TFdcCurprojectMapper">

    <select id="selectData" resultType="com.example.EAS.vo.ProjectVO">
        select fid as id,fname_l2 as title,fnumber as num,flongnumber as longNumber,FTAXINFO as taxInfo,FISLEAF as isLeaf
        from T_FDC_CurProject
        <where>
            FIsEnabled = 1
            and FFullOrgUnit=#{orgId}
            <if test="title!=null and title!=''">
                and FNAME_L2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num !=null and num !=''">
                and fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
        </where>
        order by num
    </select>
</mapper>
