<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TOrgBaseunitMapper">

    <select id="selectDatas" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FDESCRIPTION_L2 as description,m.fnumber as num,
        m.FLONGNUMBER as longNumber,m.flevel,m.FPartCostCenterID as costCenterId,m.FISLEAF as isLeaf,
        m.FSIMPLENAME as simpleName,fi.FISBIZUNIT as isCompany,c.FISBIZUNIT as isSTCost
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        left join T_ORG_OUPartCostCenter c on c.fid=m.FPartCostCenterID
        <where>
            and m.fid=#{id}
            <if test="title!=null and title!=''">
                and m.FNAME_L2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num!=null and num!=''">
                and m.fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
            <if test="isCompany!=null">
                and m.fid in (select fid from T_ORG_Company)
            </if>
        </where>
        order by m.FLONGNUMBER
    </select>
    <select id="selectByOrgId" resultType="java.lang.Integer">
        select FIsBizUnit as unit from T_ORG_Company where fid=#{id}
    </select>
    <select id="selectIsCost" parameterType="java.lang.String" resultType="java.lang.Integer">
        select fisbizunit as unit from T_ORG_CostCenter where fid=#{id,jdbcType=VARCHAR}
    </select>
    <select id="selectNexts" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FDESCRIPTION_L2 as description,m.fnumber as num,
        m.FLONGNUMBER as longNumber,m.flevel,m.FPartCostCenterID as costCenterId,m.FDESCRIPTION_L2 as description,
        m.FISLEAF as isLeaf,m.FSIMPLENAME as simpleName,fi.FISBIZUNIT as isCompany,c.FISBIZUNIT as isSTCost
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        left join T_ORG_OUPartCostCenter c on c.fid=m.FPartCostCenterID
        <where>
            m.FIsOUSealUp=0
            and m.FISADMINORGUNIT=1
            and m.FParentID=#{id,jdbcType=VARCHAR}
        </where>
        order by m.flongnumber
    </select>
    <select id="selectNextIds" resultType="java.lang.String">
        select fid as id
        from T_ORG_BASEUNIT
        <where>
            FIsOUSealUp=0 and
            FISADMINORGUNIT=1
            and FParentID=#{id,jdbcType=VARCHAR}
        </where>
        order by flongnumber
    </select>
    <select id="selectCostEntities" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FNUMBER as num,m.FLONGNUMBER as longNumber,m.FLEVEL,
        m.FSIMPLENAME as simpleName,cc.FCOSTCENTERTYPE as costCenterType,cc.FISBIZUNIT as isBizUnit
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartCostCenter cc on cc.fid=m.FPARTCOSTCENTERID
        <where>
            m.FIsOUSealUp=0
            and cc.FISBIZUNIT=1
            <if test="list != null and list.size > 0">
                and m.FID in
                <foreach item="item" collection="list" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by m.flongnumber
    </select>
    <select id="selectNextCostIds" resultType="java.lang.String">
        select fid as id
        from T_ORG_BASEUNIT
        <where>
            FISADMINORGUNIT=1 and
            FIsOUSealUp=0
            and FIsCostOrgUnit=1
            and FParentID=#{id,jdbcType=VARCHAR}
        </where>
        order by flongnumber
    </select>
    <select id="selectEntitiesFinalOrgs" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FNUMBER as num,m.FLONGNUMBER as longNumber,
        m.FSIMPLENAME as simpleName,m.FISLEAF as isLeaf,m.FDESCRIPTION_L2 as description,
        fi.FISBIZUNIT as isCompany,m.FLEVEL
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        <where>
            m.FIsOUSealUp=0
            -- and fi.FISBIZUNIT=1
            -- and not exists (select m1.fid from T_ORG_BASEUNIT m1 where m1.FPARENTID=m.fid)
            <if test="title!=null and title!=''">
                and m.FNAME_L2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num!=null and num!=''">
                and m.FNUMBER like CONCAT(CONCAT('%',#{num}),'%')
            </if>
            <if test="longNumber!=null and longNumber!=''">
                and m.FLONGNUMBER like CONCAT(CONCAT('%',#{longNumber}),'%')
            </if>
            <if test="isCompany!=null and isCompany!=''">
                and fi.FISBIZUNIT =#{isCompany}
            </if>
        </where>
        order by m.FLONGNUMBER
    </select>
    <select id="selectNextFinalOrgs" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FNUMBER as num,m.FLONGNUMBER as longNumber,
        m.FSIMPLENAME as simpleName,m.FISLEAF as isLeaf,m.FDESCRIPTION_L2 as description,
        fi.FISBIZUNIT as isCompany,m.FLEVEL
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        <where>
            m.FIsOUSealUp=0
            and exists (select fi.fid from T_ORG_OUPartFI fi where fi.fid=m.FPartFIID)
            and m.FPARENTID=#{id}
            and fi.FISBIZUNIT=1
            <!--<if test="isCompany!=null and isCompany!=''">-->
            <!--and fi.FISBIZUNIT =#{isCompany}-->
            <!--</if>-->
        </where>
        order by m.flongnumber
    </select>
    <select id="selectDataById" resultType="com.example.EAS.vo.OrgVO">
        select fi.FISBIZUNIT as isCompany,m.fid as id,m.FPARENTID as parentId,m.FNAME_L2 as title,m.FNUMBER as
        num,m.FLONGNUMBER as longNumber,
        m.FSIMPLENAME as simpleName,m.FISLEAF as isLeaf,m.FDESCRIPTION_L2 as description,
        m.FLEVEL
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        where
            m.FIsOUSealUp=0
            and m.FISLEAF=0
            and m.fid=#{parentId}
            and fi.FISBIZUNIT is not null
        order by m.flongnumber
    </select>
    <select id="selectFlevels" resultType="java.lang.Long">
        select distinct FLEVEL from T_ORG_BASEUNIT where FLEVEL>0 order by FLEVEL
    </select>
    <select id="selectFirstLevel" resultType="com.example.EAS.vo.OrgVO">
select fi.FISBIZUNIT as isCompany,m.fid as id,m.FPARENTID as parentId,m.FNAME_L2 as title,m.FNUMBER as num,m.FLONGNUMBER as longNumber,
       m.FSIMPLENAME as simpleName,m.FISLEAF as isLeaf,m.FDESCRIPTION_L2 as description,
       m.FLEVEL
from T_ORG_BASEUNIT m
       left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
where
    m.FIsOUSealUp=0  and m.FISLEAF=0 and m.FLEVEL=1 and fi.FISBIZUNIT is not null  order by m.FNUMBER
    </select>
    <select id="selectDatasByParentID" resultType="com.example.EAS.vo.OrgVO">
        select fi.FISBIZUNIT as isCompany,m.fid as id,m.FPARENTID as parentId,m.FNAME_L2 as title,m.FNUMBER as
        num,m.FLONGNUMBER as longNumber,
        m.FSIMPLENAME as simpleName,m.FISLEAF as isLeaf,m.FDESCRIPTION_L2 as description,
        m.FLEVEL
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        where
            m.FIsOUSealUp=0
            and m.FISLEAF=0
            and m.FPARENTID=#{id}
            and fi.FISBIZUNIT is not null
    </select>
    <select id="selectALLCWSTS" resultType="com.example.EAS.vo.OrgVO">
        select fi.FISBIZUNIT as isCompany,
        m.fid as id,
        m.FPARENTID as parentId,
        m.FNAME_L2 as title,
        m.FNUMBER as num,
        m.FLONGNUMBER as longNumber,
        m.FSIMPLENAME as simpleName,
        m.FISLEAF as isLeaf,
        m.FDESCRIPTION_L2 as description,
        fi.FISBIZUNIT as isCompany,
        m.FLEVEL
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID = m.FPARTFIID
        <where>
            m.FIsOUSealUp = 0
            and m.FISLEAF = 0
            and fi.FISBIZUNIT = 1
            <if test="title!=null and title!=''">
                and m.FNAME_L2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num !=null and num!=''">
                and m.FNUMBER like CONCAT(CONCAT('%',#{num}),'%')
            </if>
        </where>
        order by m.flongnumber
    </select>
    <select id="selectALLCostEntities" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,
        m.FNAME_L2 as title,
        m.FNUMBER as num,
        m.FLONGNUMBER as longNumber,
        m.FLEVEL,
        m.FSIMPLENAME as simpleName,
        m.FPARENTID as parentId,
        cc.FCOSTCENTERTYPE as costCenterType,
        cc.FISBIZUNIT as isSTCost
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartCostCenter cc on cc.fid = m.FPARTCOSTCENTERID
        <where>
            m.FIsOUSealUp = 0
            and cc.FISBIZUNIT=1
            <if test="title!=null and title!=''">
                and m.FNAME_L2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num !=null and num!=''">
                and m.FNUMBER like CONCAT(CONCAT('%',#{num}),'%')
            </if>
        </where>
        order by m.FLONGNUMBER
    </select>
    <select id="selectCostById" resultType="com.example.EAS.vo.OrgVO">
         select m.fid as id,
        m.FNAME_L2 as title,
        m.FNUMBER as num,
        m.FLONGNUMBER as longNumber,
        m.FLEVEL,
        m.FPARENTID as parentId,
        m.FSIMPLENAME as simpleName,
        cc.FCOSTCENTERTYPE as costCenterType,
        cc.FISBIZUNIT as isSTCost
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartCostCenter cc on cc.fid = m.FPARTCOSTCENTERID
        where
           m.FIsOUSealUp = 0
            and cc.FISBIZUNIT is not null
            and m.fid=#{parentId}
    </select>
    <select id="selectEFById" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FNUMBER as num,m.FLONGNUMBER as longNumber,
        m.FSIMPLENAME as simpleName,m.FISLEAF as isLeaf,m.FDESCRIPTION_L2 as description,
        fi.FISBIZUNIT as isCompany,m.FLEVEL
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        where m.fid=#{id}
        order by m.FLONGNUMBER
    </select>
    <select id="selectPayPlanAMT" resultType="java.math.BigDecimal">
        select sum(m.famount)
        from T_FNC_projectMonthPGDateEntry m
        left join T_FNC_ProjectMonthPlanGEntry e on e.fid=m.FHeadEntryId
        left join T_FNC_ProjectMonthPlangather er on er.fid=e.fheadid
        where
        m.fyear=#{year}
        and m.fmonth=#{month}
        and er.FCurProjectId=#{projectId}
        and e.contractBillId is null
        and er.FIsLatest=1
    </select>
    <select id="selectUsedPayPlanAMT" resultType="java.math.BigDecimal">
        select sum(FORIGINALAMOUNT)
        from T_CON_CONTRACTWITHOUTTEXT
        <where>
            <![CDATA[  #{monthFirst} <= ]]> FBOOKEDDATE
            and FBOOKEDDATE <![CDATA[   < #{monthEnd}
        ]]>
            and FSTATE in('1SAVED','2SUBMITTED','3AUDITTING','4AUDITTED')
            and FCURPROJECTID=#{projectId}
            <if test="id!=null and id!=''">
                and fid !=#{id}
            </if>
        </where>
    </select>
    <select id="selectByOId" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FDESCRIPTION_L2 as description,m.fnumber as num,
        m.FLONGNUMBER as longNumber,m.flevel,m.FPartCostCenterID as costCenterId,m.FISLEAF as isLeaf,
        m.FSIMPLENAME as simpleName,fi.FISBIZUNIT as isCompany,c.FISBIZUNIT as isSTCost
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        left join T_ORG_OUPartCostCenter c on c.fid=m.FPartCostCenterID
        <where>
            m.FIsOUSealUp = 0
            and m.fid=#{id}
        </where>
        order by m.FLONGNUMBER
    </select>
    <select id="selectALLLeafOrgs" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FDESCRIPTION_L2 as description,m.fnumber as num,
        m.FLONGNUMBER as longNumber,m.flevel,m.FPartCostCenterID as costCenterId,m.FISLEAF as isLeaf,
        m.FSIMPLENAME as simpleName,fi.FISBIZUNIT as isCompany,c.FISBIZUNIT as isSTCost
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartFI fi on fi.FID=m.FPARTFIID
        left join T_ORG_OUPartCostCenter c on c.fid=m.FPartCostCenterID
        <where>
            m.FISLEAF=1
            and m.FIsOUSealUp = 0
            <if test="title!=null and title!=''">
                and m.FNAME_L2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num!=null and num!=''">
                and m.fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
        </where>
        order by m.FLONGNUMBER
    </select>

</mapper>
