<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EAS.mapper.TOrgBaseunitMapper">

    <select id="selectDatas" resultType="com.example.EAS.vo.OrgVO">
        select fid as id,FNAME_L2 as title,FDESCRIPTION_L2 as description,fnumber as num,
        FLONGNUMBER as longNumber,flevel,FPartCostCenterID as costCenterId,FISLEAF as isLeaf,FSIMPLENAME as simpleName
        from T_ORG_BASEUNIT
        <where>
            FISADMINORGUNIT=1
            <if test="id!=null and id!=''">
                and fid=#{id}
            </if>
            <if test="title!=null and title!=''">
                and FNAME_L2 like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="num!=null and num!=''">
                and fnumber like CONCAT(CONCAT('%',#{num}),'%')
            </if>
            <if test="isCompany!=null">
                and fid in (select fid from T_ORG_Company)
            </if>
        </where>
        order by FLONGNUMBER
    </select>
    <select id="selectByOrgId" resultType="java.lang.Integer">
        select FIsBizUnit as unit from T_ORG_Company where fid=#{id}
    </select>
    <select id="selectIsCost" parameterType="java.lang.String" resultType="java.lang.Integer">
        select fisbizunit as unit from T_ORG_CostCenter where fid=#{id,jdbcType=VARCHAR}
    </select>
    <select id="selectNexts" resultType="com.example.EAS.vo.OrgVO">
        select fid as id,FNAME_L2 as title,FDESCRIPTION_L2 as description,fnumber as num,
        FLONGNUMBER as longNumber,flevel,FPartCostCenterID as costCenterId
        from T_ORG_BASEUNIT
        <where>
            FISADMINORGUNIT=1
            and FParentID=#{id,jdbcType=VARCHAR}
        </where>
        order by flongnumber
    </select>
    <select id="selectNextIds" resultType="java.lang.String">
        select fid as id
        from T_ORG_BASEUNIT
        <where>
            FISADMINORGUNIT=1
            and FParentID=#{id,jdbcType=VARCHAR}
        </where>
        order by flongnumber
    </select>
    <select id="selectCostEntities" resultType="com.example.EAS.vo.OrgVO">
        select m.fid as id,m.FNAME_L2 as title,m.FNUMBER as num,m.FLONGNUMBER as longNumber,
        m.FSIMPLENAME as simpleName,cc.FCOSTCENTERTYPE as costCenterType,cc.FISBIZUNIT as isBizUnit
        from T_ORG_BASEUNIT m
        left join T_ORG_OUPartCostCenter cc on cc.fid=m.FPARTCOSTCENTERID
        <where>
            <if test="list != null and list.size > 0">
                and m.FID in
                <foreach item="item" collection="list" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and m.FPARTCOSTCENTERID in (select fid from T_ORG_OUPartCostCenter)
            and cc.FIsBizUnit=1
        </where>
        order by m.fnumber
    </select>

</mapper>
